.game-place {
  color: #fff;
  height: 100vh;
}

#game-launch {
  height: 100%;

  iframe {
    height: 100%;
    width: 100%;
  }
}

.button-back {
  position: absolute !important;
  top: 5%;
  right: 2%;
}
